.note_container {
    height: 90vh;
    overflow: auto;
}

.note {
    text-align: center;
    padding: 0.1em;
}

.note textarea {
    width: 76ch;
    max-width: 100%;
    padding: 0.3em;
    font-size: 1.1em;
}

.note_section {
    overflow: auto;
}

.button_section {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
}

.button_section button {
    padding: 0.5em;
    letter-spacing: 1px;
    border-radius: 0.3em;
    border: none;

}

.add_note {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
   
}

.add_note input {
    margin-bottom: 2em;
    width: 66ch;
    max-width: 100%;
    padding: 1em;
}

.add_note textarea {
    width: 76ch;
    max-width: 100%;
    padding: 0.5em;
    min-height: 50vh;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.add_note button {
    padding: 1em;
    margin-top: 1em;
    border-radius: 0.3em;
    border: none;
    background-color: rgb(1, 151, 9);
    color: aliceblue;
}

.edit_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    input,
    textarea {
        padding: 0.5em;
        font-size: 1.2em;
        letter-spacing: 1px;
    }
}

.edited_buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;

    button {
        padding: 0.4em;
        width: 7em;
    }
}

.edited_buttons :last-child {
    background-color: red;
    border: none;
    border-radius: 0.3em;
    color: aliceblue;
}

.edited_buttons :first-child {
    background-color: green;
    border: none;
    border-radius: 0.3em;
    color: aliceblue;
}

.single_note_container>h3 {
    text-align: start;
    padding: 1em;
    color: rgb(69, 245, 157);
}

.single_note_container>p {
    font-size: 1.4em;
    white-space: pre-line;
}

.notification_message{
    color: rgb(203, 247, 123);
    font-size: 1.5em;
    text-align: center;
    margin-top: 3em;
}