.container {
    min-height: 90vh;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 1em;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

.header :last-child{
    color: rgb(175, 173, 173);
    font-size: 0.9em;
}

.header :first-child>b {
    letter-spacing: 1px;
    color: rgb(231, 255, 184);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    padding: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 1em;

}

.main h4 {
    letter-spacing: 1px;
    white-space: pre-line;
    margin-bottom: 0.7em;
    font-size: 1.1em;
}

.backBtn {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    padding: 5px 10px;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 0.3em;
    cursor: pointer;
}

.textComments {
    position: absolute;
    bottom: 0;
    right: 0.5em;
    font-size: 0.8em;
    color: rgb(129, 153, 145);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.2em;
    background-color: rgb(24, 22, 22);
    color: rgb(218, 234, 247);
    border-radius: 0.3em;
    margin-top: 0.6em;
}

.buttons {
    display: flex;
    gap: 1.5em;
}

.buttons button {
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.deleteBtn {
    color: rgb(255, 24, 24);
}

.lockBtn {
    color: rgb(255, 255, 0);
    cursor: pointer;
    font-size: 1.3em;
}

.commentBtn {
    color: rgb(142, 161, 168);
    background-color: transparent;
    border: none;
}

.likeBtn {
    color: rgb(202, 202, 201);
    background-color: transparent;
    border: none;
    font-size: 1em;
}

.locked {
    color: rgb(255, 0, 0);
}