.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 1em;
    height: 89vh;
  
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

.header :last-child {
    color: rgb(175, 173, 173);
    font-size: 0.9em;
}

.header :first-child>b {
    letter-spacing: 1px;
    color: rgb(231, 255, 184);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.main {
    padding: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 1em;

}

.main h4 {
    letter-spacing: 1px;
    white-space: pre-line;
    margin-bottom: 0.7em;
    font-size: 1.1em;
}

.backBtn {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    padding: 5px 10px;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 0.3em;
    cursor: pointer;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.2em;
    background-color: rgb(24, 22, 22);
    color: rgb(218, 234, 247);
    border-radius: 0.3em;
    margin-top: 0.6em;
}

.buttons {
    display: flex;
    gap: 1.5em;
}

.buttons button {
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.deleteBtn {
    color: rgb(255, 24, 24);
}

.lockBtn {
    color: rgb(255, 255, 0);
    cursor: pointer;
    font-size: 1.3em;
}

.commentBtn {
    color: rgb(142, 161, 168);
    background-color: transparent;
    border: none;
}

.likeBtn {
    color: rgb(202, 202, 201);
    background-color: transparent;
    border: none;
    font-size: 1em;
}

.locked {
    color: rgb(255, 0, 0);
}

.commentForm {
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.commentForm textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid rgb(200, 200, 200);
    resize: none;
}

.postBtn {
    width: 100%;
    padding: 0.5em;
    background-color: rgb(89, 120, 148);
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    letter-spacing: 2px;
}

.cancelBtn {
    width: 100%;
    padding: 0.5em;
    background-color: rgb(200, 50, 50);
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    letter-spacing: 2px;
}

.hiddenForm {
    display: none;
}

.commentsContainer{
    max-height: 60vh;
    overflow: auto;
    margin: 2em ;
}

.commentsList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    list-style: none;
}

.commentInfo {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    color: rgb(104, 97, 97);
}

.commentInfo b{
    cursor: pointer;
}

.commentContent {
    white-space: pre-line;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 0.3px solid rgba(128, 128, 128, 0.253);
    padding: 0.3em;
}