.contenT {
    max-height: 0;
    overflow: hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 250ms ease-out;
}

.open {
    max-height: none;
    transform: scaleY(1);
    padding-bottom: 0.5em;
}

.acordeon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: rgb(39, 37, 37);
    padding: 0.3em;
}